@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background: url('../img/bg.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#board {
     background: linear-gradient(rgb(162, 235, 162), rgb(223, 223, 189));
     width: 90vmin;
     height: 90vmin;
     border: 2px solid blue;
     display: grid;
     grid-template-rows: repeat(18, 1fr);
     grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}

.snake{
    background-color: #0e3514;
    border: .25vmin solid white;
    border-radius: 8px;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 30px;
    /* font-weight: bold; */
    font-family: 'Itim', cursive;
}

#highScoreBox{
    position: absolute;
    top: 35px;
    right: 200px;
    font-size: 30px;
    /* font-weight: bold; */
    font-family: 'Itim', cursive;
}

#startBtn {
    position: absolute;
    align-items: center;
    /* top: 20px; */
    padding: 15px;
    font-family: 'Itim', cursive;
}

#controls {
    position: absolute;
    display: none;
}

@media only screen and (max-width: 600px) {
    #board {
        background: linear-gradient(rgb(162, 235, 162), rgb(223, 223, 189));
        width: 90vmin;
        height: 90vmin;
        border: 2px solid blue;
        display: grid;
        grid-template-rows: repeat(18, 1fr);
        grid-template-columns: repeat(18, 1fr);
   }

    #scoreBox {
        position: absolute;
        /* top: 9px;
        right: 200px; */
        align-items: center;
        font-size: 25px;
        /* font-weight: bold; */
        font-family: 'Itim', cursive;
    }
    
    #highScoreBox{
        position: absolute;
        align-items: center;
        /* top: 35px;
        right: 200px; */
        font-size: 25px;
        /* font-weight: bold; */
        font-family: 'Itim', cursive;
    }

    #controls {
        display:block;
        position: absolute;
        bottom: 10px;
    }
    #controls button {
        padding: 5px;
    }
    
}