* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #457b9d, #1d3557);
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
}

form button {
  color: #e63946;
  background: #fff;
  cursor: pointer;
  transition: all 0.7s ease;
}

form button:hover {
  background: #e63946;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-self: center;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
  padding: 0.5rem;
}
.trash-btn,
.complete-btn {
  background: #e63946;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(73, 204, 73);
}
.todo-list {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #e63946;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #e63946;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}
.select:hover::after {
  background: #fff;
  color: #e63946;
}

@media screen and (max-width: 700px) {
  header {
    font-size: 1.2rem;
  }

  form input,
  form button {
    font-size: 1.5rem;
  }

  .todo-list {
    min-width: 80%;
  }
  .todo {
    font-size: 1.2rem;
  }
  select {
    width: 9rem;
    padding: 0.8srem;
  }
}
